/* @import url(/css/media-queries.css);
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow:scroll;
    scroll-behavior:smooth;

}

body {
    background-color: #080808;
    color: #fff;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Edu TAS Beginner', cursive;
}

/*!---------------Navigator Bar SECTION-----------*/

#header {
    height: 100vh;
    width: 100%;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;

}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    direction:  row;
    justify-content: space-between; 
    position: fixed;
    top:0;
    z-index: 3;    
    width: 80%;
}

.logo {
    width: 80px;
    opacity: 0.7;
    border-radius: 85px;

}

.logo:hover {
    background-color: #ff5500;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1em 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 1em;

}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    background: #fff;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    background: #ff5500;
}

.header-text {
    color: #fff;
    margin-top: 20%;
    font-size: 25px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    
}

.header-text h1 span {
    color: #ff5500;
}


/*!-----------------------ABOUT ME SECTION----------------------*/

#about {
    padding: 8% 5%;
    color: #ababab;
  
}

.row {
    display: flex;
    justify-content: space-between;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 3em;
    font-weight: 600;
    color: #fff;
}


.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 700;
}

.tab-links {
    margin-right: 50px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    background-color: cornsilk;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.tab-links.active-link:after {
    content: '';
    background-color: #ff5500;
    width: 70%;

}

.tab-contents ul li {
    list-style: none;
    margin: 20px 0;
}

.tab-contents ul li span {
    color: #fb7a39;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*!---------------------SERVICES SECTION----------------------*/

#services {
    padding: 8% 5%;
}

.services-list {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px
}

.services-list div {

    background-color: #262626;
    padding: 40px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 400;
    transition: background 0.7s, transform 0.5s;
    margin-right: 5%;

}

.services-list div i {
    font-size: 4em;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #fb7a39;
    transform: translateY(-10px);

    /*Make animated by moving it up */
}

.services-list div:hover .fa-code {
    color: rgba(0, 0, 0, 0.726);
}

.services-list div:hover .fa-android {
    color: #3DDC84
}


/*!----------------PROJECTS SECTION --------------------------*/

#projects {
    padding: 4% 4%;

}


.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px
}

.project {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    display: block;
    transition: 0.8s;
    /*? To make the ZoomOut(scale(1.2)) transition slowly */
}

.project:hover img {
    transform: scale(1.2);
    /*? To make the picture Zoom-Out*/
}

.project-description {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 0%;
    padding: 0 40px;
    border-radius: 10px;
    opacity: 0.8;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0.6), #ff5500);
    transition: 0.8s;
}

.project-description h3 {

    font-weight: 500;
    margin-bottom: 20px;
}

.project-description i {
    text-decoration: none;
    margin-top: 30px;
    color: #ff5500;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    width: 60px;
    height: 50px;
    text-align: center;
}


.project:hover .project-description {
    height: 90%;
}

.show-more-btn {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 50px auto;
    border: 1px solid #fb7a39;
    border-radius: 15px;
    width: fit-content;
    padding: 14px 30px;
    transition: background 0.8s;
    margin-top: 2%;
}

.show-more-btn:hover {
    background: #ff5500;
}

/*! ---------------------CONTACT SECTION----------------------*/

#contact {
    padding: 50px 4%;
}

.contact-left {
    flex-basis: 35%;
    /*    background-color: cadetblue; */
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff5500;
}

.social-media-icons {
    margin-top: 30px;

}

.social-media-icons a i {
    display: inline-block;
    text-decoration: none;
    font-size: 150%;
    margin-right: 5%;
    transition: 0.5s;
    color: #141415;
}

.social-media-icons a {

    text-decoration: none;
}


a:hover .fa-linkedin,
a:hover .fa-x-twitter,
a:hover .fa-telegram,
a:hover .fa-whatsapp {
    color: #ff5500;
    transform: translateY(-5px);
}

.download-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 50px auto;
    border: 1px solid #fb7a39;
    border-radius: 5px;
    padding: 14px 30px;
      background-color: #ff5500a8;
   

}

.download-btn:hover{
  
    background-color: #ff5500;
} 
.contact-right {
    flex-basis: 60%;
}


.contact-right form {
    width: 100%;

}

form input,
form textarea {
    width: 100%;
    background-color: #262626;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.submit-btn {
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 14px 30px;
    background-color: #ff5500a8;
    cursor: pointer;
    transition-delay: 100ms;
}


.submit-btn:hover{
   
    background-color: #ff5500;
} 

.submit-btn:active{
    transform:translateY(-10px); 
} 


.copyright {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    background-color: #262626;
    padding: 25px 0;
}

.copyright p i:hover {
    color: #ff5500;
}

/*!-------------------------Media Query------------------------------ */

nav .fa-solid {
    display: none;
    /*? To hide the Drawer button in lager screens*/
}

/*!Smaller  Mobile devices */

@media (max-width:300px) {
    
    .container {
        padding: 10px 20%;
    }

    #header #contact {
    width: 100%;


    }
    .logo {
        width: 40px;
        opacity: 0.7;
        border-radius: 85px;
    }
    
    /* ? Make the Drawer button */

    nav .fa-solid {
        display: block;
        position: fixed;
        font-size: 25px;
        right: 15px;
    }

    nav ul {
        position: fixed;
        background: #ff5500;
        top: 0;
        right: 0px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        opacity: 0.9;
        transition: 0.8s;
    }


    nav ul li {
        display: block;
        margin: 50px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 43px;
        left: 15px;
        cursor: pointer;
        font-size: 30px;
    }


    /* ? change the background */

    #header {
        background-image: url('/images/background.png');
        width: 299px;
    }

    .header-text {
        margin-top: 90%;
        font-size: 15px;
    }

    .header-text h1 {
        font-size: 25px;
    }

    .sub-title {
        font-size: 1.5em;
    }
/*About me*/
    .row {
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-col-1 img{
display: none;
    }
    #contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 100%;
    }
   
.contact-right {
    flex-basis: 20%;
}


.contact-right form {
    width: 299px;

}

form input,
form textarea {
    width: 100%;
    background-color: #262626;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 5px 0;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.copyright {
    width: 250px;
    text-align: center;
    margin-top: 40%;
    background-color: #262626;
    padding: 5% 0;
}


}

/*! Mobile devices */

@media (min-width:280px) and (max-width:488px) {
    
    .logo {
        width: 40px;
        opacity: 0.7;
        border-radius: 85px;
        
    }
    
    /* ? Make the Drawer button */
    nav .fa-solid {
        display: block;
        position: fixed;
        font-size: 25px;
        right: 15px;
    }

    nav ul {
        position: fixed;
        background: #ff5500;
        top: 0;
        right: 0px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        opacity: 0.9;
        transition: 0.8s;
    }


    nav ul li {
        display: block;
        margin: 50px;


    }

    nav ul .fa-solid {
        position: absolute;
        top: 43px;
        left: 15px;
        cursor: pointer;
        font-size: 30px;
    }

    /* ? change the background */

    #header {
        background-image: url('../images/phone-background.png');

    }

    .header-text {
        margin-top: 90%;
        font-size: 15px;
    }

    .header-text h1 {
        font-size: 25px;
    }

    .sub-title {
        font-size: 1.5em;
    }

    .row {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }


    #contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 60%;

    }


}

/*! iPads, Tablets */
@media (min-width: 489px) and (max-width: 768px) {

    .logo {
        width: 60px;
        opacity: 0.7;
        border-radius: 85px;
    
    }

    nav ul li {
        margin: 1em 0.8em;
    }
    
    nav ul li a {
   
        font-size: 0.8em;
    
    }

    .sub-title {
        font-size: 2em;
    }

    .header-text {
        margin-top: 60%;
        font-size: 20px;
    }
    .header-text h1 {
        font-size: 30px;
    }

    .contact-right {
        flex-basis: 50%;
    }

}

/*! Small screens, laptops  */
    @media (min-width: 769px) and (max-width: 1024px) {
        .header-text {
            margin-top: 30%;
            font-size: 20px;
        }

       
    }

/*! large devices (large desktops, Laptops L  */
    @media (min-width: 1025px) and (max-width: 1700px){

        nav ul li {
        
            margin: 1em 2em;
        }
                
        nav ul li a {
            font-size: 1.2em;
                
        }

        .header-text {
            margin-top: 30%;
            font-size: 25px;
        }
        .header-text h1{
            font-size: 60px;
        }
        #about{
            justify-content: center;
            align-items: center;
        }
    }
    
/*!Extra large devices (large desktops, 1441 nad up)  */

    /*!Extra large devices (large desktops, 1441 nad up)  */
    @media (min-width: 1474px) and (max-width:1){
    
        .logo {
            width: 130px;
            opacity: 0.7;
            border-radius: 85px;
        }

        nav ul li {
            display: inline-block;
            list-style: none;
            margin: 1.5em 3em;
        }
        
        nav ul li a {
            text-decoration: none;
            color: #fff;
            position: relative;
            font-size: 2em;
        
        }
       
        .header-text {
            margin-top: 35%;
            font-size: 40px;
        }
        .header-text h1 {
            font-size: 80px;
        }


        .sub-title {
            font-size: 2.5em;
        }

        #about{
            justify-content: center;
            align-items: center;
                padding: 14% 3%;
                color: #ababab;
        
        }
      
        #projects{
            height: 100vh;
        }
        #services {
          padding: 14% 5%;
        
        }
    }




       @media (min-width: 1700){
       
        .logo {
            width: 130px;
            opacity: 0.7;
            border-radius: 85px;
        }

        nav ul li {
            display: inline-block;
            list-style: none;
            margin: 1.5em 3em;
        }
        
        nav ul li a {
            text-decoration: none;
            color: #fff;
            position: relative;
            font-size: 2em;
        
        }
       
        .header-text {
            margin-top: 35%;
            font-size: 40px;
        }
        .header-text h1 {
            font-size: 80px;
        }


        .sub-title {
            font-size: 2.5em;
        }

        #about{
            justify-content: center;
            align-items: center;
                padding: 14% 3%;
                color: #ababab;
        
        }
      
        #projects{
            height: 100vh;
        }
        #services {
          padding: 14% 5%;
        
        }
    }
